<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>到位APP - 高品质上门服务直约平台，家政服务，上门按摩，上门维修，搬家，安心到家！</title>
  <link rel="shortcut icon" type="text/css" href="http://www.daoway.cn/pcimages/favicon.png">
  <link rel="shortcut icon" type="text/css" href="../img/favicon.png">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/pwd.css">
</head>
<body>
<div>
  <div class="container">
    <form id="registForm">
      <div class="forgetPwd">
      <div class="content">
        <h2>重置密码</h2>
        <div class="control-group">
          <div class="input">
            <input class="form-control" maxlength="11" id="userName" type="text" placeholder="请输入手机号">

            <div class="input-group">
              <!--<img src="../img/code.jpg">-->
              <div id="v_container" class="v_container" style="height: 60px;border-radius: 3px;"></div>

              <input type="text" class="form-control" id="code_input" style="height: 60px;border-radius: 3px;" name="picnum" maxlength="4"  placeholder="请输入图片中的字符串">
              <span class="input-group-addon" style="cursor:pointer;border-radius: 5px;" id="getNum" >获取验证码</span>
              <!--<input type="text" class="form-control" maxlength="4" placeholder="请输入图片中的字符串">
              <span class="input-group-addon" style="cursor:pointer" >获取验证码</span>
              <span class="input-group-addon" style="display: none;" >重新发送60</span>-->
            </div>
            <input type="text" style="margin: 10px 0;" id="code" class="form-control" name="num" maxlength="4" placeholder="请输入验证码">
            <input class="form-control" type="password" name="pwd" id="pwd" placeholder="请输入密码">
          </div>
        </div>
      </div>
      <br>
      <div class="alert alert-danger alert-dismissible" role="alert" style="display: none;">
        <!--  -->
        <button type="button" class="close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--注册登陆开始-->
      <div>
        <button  id="my_button" class="btn btn-primary btn-lg btn-block">确认重置</button>
      </div>
      <div class="btnSign">
        <a href="login.html">返回</a>
      </div>
        <!--注册登陆结束-->
    </div>
    </form>
  </div>
</div>
<script src="../js/jquery-1.12.0.min.js"></script>
<!--表单验证-->
<script src='../js/jquery.validate.js'></script>
<!--验证码-->
<script src="../js/gVerify.js"></script>
<script>
  $("#registForm").validate({
    rules: {
      'username': {
        required: true,
      },
      'pwd': {
        required: true
      },
      'num': {
        required: true
      },
      'picnum': {
        required: true
      }
    },
    messages: {
      'username': {
        required: "手机号不能为空"
      },
      'pwd': {
        required: "密码不能为空"
      },
      'num': {
        required: "请输入验证码"
      },
      'picnum': {
        required: "请输入图片中的验证码"
      },
    },
    /* 重写错误显示消息方法,以alert方式弹出错误消息 */
    showErrors: function(errorMap, errorList) {
      var msg = [];
      $.each( errorList, function(i,v){
        // msg += (v.message+"\r\n");
        msg.push(v.message)
      });
      if(msg!=""){
        alert(msg[0]);
      }
    },
    /* 失去焦点时不验证 */
    onfocusout: false
  });

  //验证码倒计时
  var countdown = 9;
  var btn = $('#getNum')
  btn.click(function () {
    let tel = $('#userName').val()
//      修改文本显示
    settime(btn);
//      发送ajax 验证码发送
    $.get('/sms',{tel:tel},function (data) {
      console.log(data)
    })
  })
  function settime(obj) { //发送验证码倒计时
    if (countdown < 0) {
      obj.attr('disabled',false);
      //obj.removeattr("disabled");
      obj.html("获取验证码");
      countdown = 9;
      return;
    } else {
      obj.attr('disabled',true);
      obj.html("重新发送" + countdown + "s");
      countdown--;
    }
    setTimeout(function() {
//        递归 自己调用自己
        settime(obj) }
      ,1000)
  }

//  初始化验证码图片
  var verifyCode = new GVerify("v_container");

  $('#my_button').click(function(e) {
    e.preventDefault();//阻止默认提交

    //      图形验证码
    var res = verifyCode.validate(document.getElementById("code_input").value);
    if (!res) {
      alert("图形验证错误");

    } else {
      var num = $('#code').val().trim()
      var tel = $('#userName').val().trim()
      var pwd = $('#pwd').val().trim()

      console.log(num, tel, pwd)
      $.post('/regist', {num: num, tel: tel, pwd: pwd}, function (data) {
        if (data.type === 1) {
          alert('密码重置成功~')
          window.location.href = '/template/login.html'
          //            注册成功保存用户名和用户密码
          let user = {id: tel, tel: tel, pwd: pwd}
          user = JSON.stringify(user)
          //            localStorage.setItem('tel',tel)
          //            localStorage.setItem(user.id+Math.random()*1,user)
//          localStorage.setItem('user', user)
          localStorage.setItem(tel,user)
        } else {
          alert('验证码错误~~~')
        }
      })
    }

  })
</script>
</body>
</html>